.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    margin-top: 8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 15px;
 }
 .product-form h2 {
    text-align: center;
 }
 
 .product-item {
     width: 20rem;
     max-width: 95%;
     margin: 1rem;
   
 }

 .product__title {
     font-size: 1.2rem;
     text-align: center;
 }
 
 .product__price {
     text-align: center;
     color: #4d4d4d;
     margin-bottom: 0.5rem;
 }
 
 .product__description {
     text-align: center;
 }
 .product__cart, p {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
 }
 .card__image {
    height: auto;
    width: 10em;
    margin: 0 auto;
  }
  /* Any image tag with in that class should respect .image values */
  .card img {
    height: 100%;
  }
